@import "../../constants.scss";

nav.navbar {
  height: 2em;
  background-color: #ff6d00;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;

  .navbar__logo {
    height: 21px;
    filter: invert(100%);
  }

  a {
    font-size: 2em;
    text-decoration: none;

    &:visited {
      color: $text-colour-light;
    }

    &:hover {
      color: $text-colour-light;
    }

    &:link {
      color: $text-colour-light;
    }

    &:active {
      color: $text-colour-light;
    }
  }

  p {
    font-size: 32px;
    color: $text-colour-light;
    margin: 0;
  }

  .search-form {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid $text-colour-light;

    a {
      display: flex;
      flex-direction: row;
      align-items: center;

      i {
        font-size: 20px;
        margin-right: 8px;
      }
    }

    input,
    textarea {
      margin-left: 4px;
      border: none;
      background-color: $primary;
      font-family: "Ubuntu Mono", monospace;
      font-size: 20px;
      color: $text-colour-light;

      &::placeholder {
        color: $text-colour-light;
      }

      &:focus {
        outline: 0;
      }
    }
  }
}
