$orange: #ff6d00;
$orange-dark: #c43c00;
$orange-light: #ffa040;
$grey: #e1e1e1;
$light-grey: #f5f5f5;

$white: white;
$black: black;

$primary: $orange;
$primary-dark: $orange-dark;
$primary-light: $orange-light;
$secondary: $grey;
$secondary-light: $light-grey;

$text-colour: $black;
$text-colour-light: $white;
$site-background: $white;
